*,
*::before,
*::after {
    box-sizing: border-box;
}
@font-face {
  font-family: Ephesis;
  src: url(./fonts/Ephesis-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}
:root {
    --blue-color: rgb(51, 85, 170);
}
/* Global stylings */

label {
    display: block;
    margin-bottom: 0.5rem;
}

.input-group input {
    display: block;
    width: 100%;
    padding:6px 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.ml-auto {
    margin-left: auto;
}
.modal-header .close {
  padding: 1rem;
  margin: 0px 0px 0px auto;
  float: right;
  background: #fff;
  opacity: 10;
  padding: 10px 15px;
  border-radius: 30px;
}
.modal-header {
  margin: 0px;
  padding: 0px;
}
.modal-body {
  padding: 0px;
}
/* Form */
.input-group {
    margin: 0.5rem 0;
    width: 100%;
    display: block;
}
.modal-header{
  border-bottom:none;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -10%);
  transform: translate(0, -10%);
}
.form-step {
    display: none;
    width: 590px;
}
.form-step h3{
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: Ephesis;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 3.84px;
}
.form-step p{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 275;
  line-height: 24px;
}
.welcometext .form-step label {
  text-align: center;
  display: inherit !important;
  float: none;
  margin: 5px auto;
  font-weight: bold;
}
.form-step.active {
    display: block;
    transform-origin: top;
    animation: animate .5s;
}
.btn-group {
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    margin-top: 20px;
    float: left;
    width: 100%;
}
.slider_area .col-md-4 {
  padding-left: 5px;
  padding-right: 5px;
}
.btn {
    padding: 10px;
    display: block;
    text-decoration: none;
    width: min-content;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-next {
    background-color:#fff;
    color: #000;
    float: right;
}
.centerbtn {
  margin: 50px auto;
  text-align: center;
  float: none;
}
.centerbtn .btn-next{
  float: none;
  margin: 0px auto; 
  padding:10px 15px;
}
.btn-group a.btn.btn-prev, .btn-group a.btn.btn-next {
  border-radius: 5px !important;
  padding: 10px 15px;
}
.btn-prev {
    background-color: #777;
    color: #fff;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--blue-color);
}

textarea {
    resize: vertical;
}

/* Prefixes */

.input-box {
    display: flex;
    align-items: center;
    /* max-width: 300px; */
    background: #fff;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding-left: 0.5rem;
    overflow: hidden;
    font-family: sans-serif;
}

.input-box .prefix {
    font-weight: 300;
    font-size: 14px;
    color: rgb(117, 114, 114);
}

.input-box input {
    border: none;
    outline: none;
}

.input-box:focus-within {
    border-color: #777;
}


.add-exp-btn {
    color: #577d4c;
    border-right: 2px solid #577d4c;
    border-bottom: 2px solid #577d4c;
    padding: 0 10px 10px 0;
    text-decoration: none;
    font-weight: 600;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.add-experience {
    margin-bottom: 20px;
}
.welcometext {
  text-align: center;
}
.welcometext .firstwel {
  max-width: 300px;
  margin: 30px auto;

}
.rigrt-boxwelcome ul li {
  display: flex;
}
.rigrt-boxwelcome ul{
  margin: 0px;
  padding:0;
}
.welcometext {
  padding:30px 30px 30px 50px;
  border-radius: 10px;
  position: relative;
  background-image: url(images/Vector.svg);
  background-repeat: repeat-y;
  background-position: left;
  height: 450px;
  width: 700px;
}
.welcomearea >.row > .col-md-8, .welcomearea >.row > .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.welcometext::before {
  background-color:#d9d9d9;
  position: absolute;
  content: "";
  right: 0;
  width: 90%;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 20px;
}
.rigrt-boxwelcome::before {
  background-color: #fff;
  position: absolute;
  content: "";
  left: 0;
  width: 90%;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 20px;
}
.rigrt-boxwelcome {
  padding: 30px;
  border-radius: 10px;
  position: relative;
  background-image: url(images/Vectorwhite.svg);
  background-repeat: repeat-y;
  background-position: right;
  height: 450px;
  width: 250px;
}

.rigrt-boxwelcome ul li {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.rigrt-boxwelcome ul li i {
  min-width: 20px;
}

#myCarousel .thumbnail {
	margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control {
	color:#fff;
	top:40%;
	color:#428BCA;
	bottom:auto;
	padding-top:4px;
	width:30px;
	height:30px;
	text-shadow:none;
	opacity:1;
}
.carousel-control:hover {
	color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control.right {
	left:auto;
	right:-32px;
}
.carousel-control.left {
	right:auto;
	left:-32px;
}
.carousel-indicators {
	bottom:-30px;
}
.carousel-indicators li {
	border-radius:0;
	width:10px;
	height:10px;
	background:#ccc;
	border:1px solid #ccc;
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	background:#3276b1;
	border-color:#3276b1;
}
.slider_area {
  max-width: 570px;
}
.form-step .thumbnail p {
  font-size: 12px;
  line-height: 16px;
  padding: 0px;
  margin: 5px 0;
}
.form-step .thumbnail p:last-child{
  font-size:10px;
}
.slider_area .carousel-control.left,.slider_area .carousel-control.right{
display: none;
}
.price_area {
  border-radius: 4px 4px 0px 0px;
  background: #FFF;
  border-bottom: 4px solid #FAC601;
  padding: 10px 30px;
  float: right;
  width: 100%;
}
.slider_area.bookslot {
  margin: 30px 30px 20px 30px;
  float: left;
  width: 550px;
}
.slider_area.bookslot .row {
  display: flex;
  align-items: center;
}
.slider_area.bookslot .row .col-md-6:first-child {
  border-right: 2px solid #000;
}
.total_pp {
  border: 2px dashed #000;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}
.total_pp h6{
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-bottom: 0;
  padding: 10px 0;
}
.form-step.celebra h3{
  float: left;
  text-align: left;
  margin-top: 0;
  line-height: 48px;
  font-size:34px;
  width: 100%;
}
.form-step.celebra h3 > span{
  font-family: Poppins;
  font-size: 16px;
}
.form-step.celebra h3 > spam,.form-step.proceed_further.addonssec h3 spam{
  font-family: Poppins;
  font-size:24px;
  float: right;
}
.imagearea img {
  width: 100%;
} 
.imagearea {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.imagearea h6 {
  font-size: 14px;
  font-weight: bold;
}
.imagearea h6 {
  font-size: 14px;
  font-weight: bold;
  min-height: 40px;
  line-height: 18px;
  margin:5px 0 0 0;
}
p.note-detls {
  font-size: 12px;
  margin-top: 0;
  padding: 0px;
}
.cakes input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.cakes label {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 70px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.cakes label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width:15px;
	height:15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.cakes input:checked + label {
	background: #bada55;
}

.cakes input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.cakes label:active:after {
	width: 70px;
}
ul.addon {
  list-style: auto;
  text-align: left;
  margin: 0 0 0 25px;
  padding: 0;
}
ul.addon li {
  padding-bottom: 6px;
}
.addonssec .slider_area h3 {
  text-align: center !important;
}
.addonssec .slider_area p {
  text-align: left;
  float: left;
  display: block;
  width: 100%;
  margin: 0 0 0 15px;
  font-weight: bold;
}
.form-step.proceed_further.addonssec h3 {
  margin-top: 0;
  font-size: 30px;
  margin-bottom: 30px;
  float: left;
}
.form-step.proceed_further.addonssec h3 span {
  width: 60%;
  float: left;
  line-height: 28px;
  text-align: left;
}
.com_form {
  max-width: 400px;
  margin: 0px auto;
}
.applynote p {
  border: 1px dashed #000;
  padding: 5px;
  font-size: 10px;
  line-height: 14px;
  text-align: left;
}
.applynote input[type="submit"] {
  margin: 5px;
  font-weight: bold;
  max-width: 150px;
  background: #ccc;
}